/* RELATIVE POSITION STYLE START */
body {
    margin: 0px;
}
.red {
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline-block;                    /* this(inline-block) property for all three divs we used so that all the box could come in one single line and it also by default brings little space between the elements  -->> and now as we want blue first then yellow then red box so we will do that using the relative postion and it's coordinate properties*/
    position: relative;
    left: 400px;
}
.blue {
    background-color: blue;
    width: 200px;
    height: 200px;
    display: inline-block;                   /* this(inline-block) property for all three divs we used so that all the box could come in one single line and it also by default brings little space between the elements  -->> and now as we want blue first then yellow then red box so we will do that using the relative postion and it's coordinate properties*/
    position: relative;
    right: 200px;
}
.yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;                 /* this(inline-block) property for all three divs we used so that all the box could come in one single line and it also by default brings little space between the elements  -->> and now as we want blue first then yellow then red box so we will do that using the relative postion and it's coordinate properties*/
    right: 200px;
}
/* RELATIVE POSITION STYLE END */

/* ABSOLUTE POSITION STYLE START */

.container {
    position: relative;
    background-color: grey;
    width: 300px;
    height: 300px;
}

.redA {
    background-color: red;
    width: 100px;    
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.blueA {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 0;
}

.yellowA {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
}

/* ABSOLUTE POSITION STYLE END */